modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35715
externalPort = 4200

[[ports]]
localPort = 36367
externalPort = 3003

[[ports]]
localPort = 36717
externalPort = 6800

[[ports]]
localPort = 38295
externalPort = 3002

[[ports]]
localPort = 38969
externalPort = 8000

[[ports]]
localPort = 40323
externalPort = 5173

[[ports]]
localPort = 43461
externalPort = 3001

[[ports]]
localPort = 44455
externalPort = 3000

[[ports]]
localPort = 45523
externalPort = 6000

[[ports]]
localPort = 45925
externalPort = 5000
